html, body {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeinGrow {
  from { opacity: 0; }
  to   { opacity: 1; font-size: 4em; }
}

@keyframes fadeinLite {
  from { opacity: 0; }
  to   { opacity: 0.5; }
}

/* App */
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Rock Salt', cursive;
}

.App h1 {
  color: seagreen;
  text-decoration: underline overline solid black;
  font-size: 2em;
  text-align: center;
  min-width: 100%;
}

.App .titlePart {
  color: mediumseagreen;
}

/* Intro */
#Intro::after {
  animation: fadein 6s;
  content: "";
  background: url("../assets/images/intro.png") no-repeat center left;
  background-size: contain;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.Intro h2 {
  animation: fadeinGrow 5s; 
  margin: 1em;
  padding: 1em;
  font-size: 3em;
}

/* Start Menu */
.Options {
  display: block;
  font-family: 'Finger Paint', cursive;
}

.Options p {
  margin: 1em;
  padding: 1em;
  font-size: 2em;
}

.Options span {
  display: inline-block;
  border: 5px solid black;
  border-radius: 10%;
  padding: 1em;
  margin: 1em;
  width: 15%;
  color: mediumseagreen;
  font-size: 1em;
}

.Options span:hover {
  border: 5px solid mediumseagreen; 
  background: black;
  color: white;
  cursor: pointer;
}

#players {
  animation: fadein 1s;
}

#players::after {
  animation: fadein 5s; 
  content: "";
  background: url("../assets/images/bamboo1.png") no-repeat right top;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#markers {
  animation: fadein 1s;
}

#markers::after {
  animation: fadein 5s; 
  content: "";
  background: url("../assets/images/bamboo2.png") no-repeat left top;
  background-size: contain;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#turns {
  animation: fadein 1s;
}

#turns::after {
  animation: fadein 5s; 
  content: "";
  background: url("../assets/images/bamboo3.png") no-repeat right top;
  background-size: contain;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

/* Board */
.Board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 690px;
  width: 690px;
  animation: fadein 2s; 
}

.Board::after {
  animation: fadeinLite 20s; 
  content: "";
  background: url("../assets/images/bamboo4.png") no-repeat left center;
  background-size: contain;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.Board button {
  vertical-align: top;
  margin: 0.1em;
  padding: 0;
  height: 200px;
  width: 200px;
  font-size: 4em; 
  font-family: 'Finger Paint', cursive;
  background: none;
  outline: none;
  border-radius: 10%;
  border: 0.1em solid mediumseagreen;
  text-shadow: 3px 3px 3px gray;
}

.Board button:hover {
  border: 0.1em solid black;
  background: mediumseagreen;
}

.Board_menu,
.Board_reset {
  border: 5px solid black;
  border-radius: 10%;
  padding: 1em;
  margin: 1em;
  width: 15%;
  color: mediumseagreen;
  font-size: 1em;
}

.Board_menu:hover,
.Board_reset:hover {
  border: 5px solid mediumseagreen; 
  background: black;
  color: white;
  cursor: pointer;
}

.Board .ended {
  background: mediumseagreen;
}

.Menus {
  display: block;
  width: 100%;
  padding: 2em;
}

/* Footer */
.Footer {
  display: block;
  width: 100%;
  font-size: 0.75em;
}

@media all and (max-width: 1000px) {
  /* Intro */
  #Intro::after {
    background-size: cover;
  }

  .Intro h2 {
    font-size: 2.5em;
  }

  /* Start Menu */
  .Options p {
    text-shadow: 3px 3px 3px white;
  }

  .Options span {
    background: white;
  }

  #players::after {
    background-size: cover;
  }

  #markers::after {
    background-size: cover;
  }

  #turns::after {
    background-size: cover;
  }

  /* Board */
  .Board {
    height: 517.5px;
    width: 517.5px;
  }

  .Board::after {
    background-size: cover;
  }

  .Board button {
    height: 150px;
    width: 150px;
    font-size: 3em; 
    border: 0.1em solid black;
  }
  
  .Board button:hover {
    border: 0.2em solid seagreen;
  }
}

@media all and (max-width: 500px) {
  /* Intro */
  .Intro h2 {
    font-size: 2em;
  }

  /* Board */
  .Board {
    height: 345px;
    width: 345px;
  }

  .Board button {
    height: 100px;
    width: 100px;
    font-size: 2em; 
  }
  
  .Board button:hover {
    border: 0.2em solid seagreen;
  }
}